---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import CareerTimeline from '../components/CareerTimeline.astro';
import Games from '../components/Games.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="Yuto Suzuki / 鈴木 雄登">
  <Navigation />
  <main>
    <Hero />
    <About />
    <CareerTimeline />
    <Games />
  </main>
  <Footer />
</Layout>
