---
import { Icon } from 'astro-icon'
interface Props {
  url: string;
  iconSet: string;
}
const { url, iconSet } = Astro.props
---
<div>
  <a href={url} target="_blank" rel="noopener noreferrer">
    <Icon name={iconSet} />
  </a>
</div>

<style>
  div {
    margin: auto;
  }
  [astro-icon] {
    width: 25px;
  }
</style>
